*~
.DS_Store
.idea
*.old
*.bak
*.tmp
*.log
*.off
*-off
npm-debug.log
mem.json
out
tmp
test/db
node_modules
node_modules-*
docs/annotated
docs/coverage.html
test/coverage.html
*.csv
package-lock.json
yarn.lock
