@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* LAYOUT STYLES */
body {
  font-size: 15px;
  line-height: 1.5; 
  background-color:#eae0bb;
  background-image: url(../images/pattern.png);
  background-position: top right;
  background-repeat: no-repeat;
font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #666;
  border-bottom: 34px solid #998675;
}

a {
  color: #2879d0;
}
a:hover {
  color: #2268b2;
  text-decoration:underline;
}

header {
  padding-top: 40px;
  padding-bottom: 00px;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif; 
}

header h1 {
  font-family: 'Lobster', cursive;
  letter-spacing: -1px;
  font-size: 72px;
  color: #261c1a;
  margin-bottom: 0.2em;
  height:78px;
  width: 540px;
  font-weight: bold;
  background: transparent url(../images/logo.png) no-repeat;
}

header h2 {
  font-size: 26px;
  color: #9ddcff;
  font-weight: normal;
  line-height: 1.3;
  width: 540px;
  letter-spacing: 0;
}

.inner {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

#content-wrapper {
  padding-top: 42px;
  padding-bottom: 42px;
}

#main-content {
  width: 690px;
  float: left;
}

#main-content img {
  max-width: 100%;
}

aside#sidebar {
  width: 200px;
  padding-left: 20px;
  min-height: 504px;
  float: right;
  font-size: 12px;
  line-height: 1.3;
  border-left: 1px solid #ddceba;
}

aside#sidebar p.repo-owner,
aside#sidebar p.repo-owner a {
  font-weight: bold;
}

#downloads {
  margin-bottom: 40px;
}

/*Styling for Twitter Button*/
a.button {
  height: 58px;
  line-height: 1.2;
  font-size: 23px;
  color: #555555;
  padding-left: 68px;
  padding-top: 22px;
 font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/*Styling for Github Button*/
a.button1 {
  height: 58px;
  line-height: 1.2;
  font-size: 23px;
  xcolor: #555555;
  color: #eee;
  padding-left: 68px;
  padding-top: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

a.button small {
  display: block;
  font-size: 11px;
}
header a.button {
  position: absolute;
  right: 0;
  top: 0;
}

/*Styling for Twitter Button*/
aside a.button {
  width: 186px;
  padding-left: 16px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  display: block;
  background-color: #c7b299;
  background-image: url(../images/twitter.png);
  background-repeat:no-repeat;
  background-position: 10px 18px;
  margin-bottom: 20px;
  font-size: 14px;
}

aside a.button:hover {
  background-color:#ae9c80;
}

/*Styling for Github Button*/
aside a.button1 {
  width: 186px;
  padding-left: 16px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  display: block;
  background-color: #c7b299;
  background-image: url(../images/github.png);
  background-repeat:no-repeat;
  background-position: 10px 18px;
  margin-bottom: 20px;
  font-size: 14px;
}
aside a.button1:hover {
  background-color:#ae9c80;
  color: #eee;
}

/*Alignment for Github and Twitter text links on right-column*/
.new_margin {
    margin-left:60px;
    color:#000f4b;
    font-weight:700;
    display:block;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #222;
  margin-bottom: 30px;
  font-size: 13px;
}

code {
  background-color: #f2f8fc;
  border: solid 1px #dbe7f3;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #fff;
  text-shadow: none;
  overflow: auto;
  border: solid 1px #ddceba;
}
pre code {
  color: #4a6a98;
  background-color: #fff;
  border: none;
  padding: 0;
}

ul, ol, dl {
  margin-bottom: 20px;
}


/* COMMON STYLES */

hr {
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  border: 1px solid #ebebeb;
  text-align: center; 
  font-weight: 300;
}

form {
  background: #f2f2f2;
  padding: 20px;
  
}


/* GENERAL ELEMENT TYPE STYLES */

#main-content h1 {
  font-family: 'Open Sans', sans-serif;  
  font-size: 2.8em;
  letter-spacing: -1px;
  color: #474747;
} 

#main-content h1:before {
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -0.9em;
}

#main-content h2 {
  font-family: 'Open Sans', sans-serif;  
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
} 
#main-content h2:before {
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -1.5em;
}

#main-content h3 {
font-family: 'Open Sans', sans-serif; 
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #261c1a;
} 
 
#main-content h3:before {
font-family: 'Open Sans', sans-serif;
  color: #261c1a;
  font-size: 20px;
  padding-right: 0.3em;
  margin-left: -2em;
}

#main-content h4 {
 font-family: 'Open Sans', sans-serif; 
  font-size: 15px;
  font-weight: bold;
  color: #261c1a;
} 

h4:before {
font-family: 'Open Sans', sans-serif;
  color: #261c1a;
  padding-right: 0.3em;
  margin-left: -2.8em;
}

#main-content h5 {
font-family: 'Open Sans', sans-serif;
  color: #261c1a;
  font-size: 14px;
} 
h5:before {
font-family: 'Open Sans', sans-serif;
  color: #261c1a;
  padding-right: 0.3em;
  margin-left: -3.2em;
}

#main-content h6 {
font-family: 'Open Sans', sans-serif;
  color: #261c1a;
  font-size: .8em;
} 
h6:before {
font-family: 'Open Sans', sans-serif;
  color: #261c1a;
  padding-right: 0.3em;
  margin-left: -3.7em;
}

.doc_title {
	font-weight:700;
	 font-family: 'Open Sans', sans-serif;
	   color: #261c1a;
}

p {
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.new_style {
	 font-family: 'Open Sans', sans-serif;
font-size: 15px;
font-weight: 700;
}
	
 
a {
  text-decoration: none;
}

p a {
  font-weight: 700;
}

blockquote {
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
}

ul li {
  list-style: disc inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 3px;
}

dl dd {
  font-style: italic;
  font-weight: 100;
}

footer {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #aaa;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .inner {
    width: 740px;
  }
  header h1, header h2 {
    width: 340px;
  }
  header h1 {
    font-size: 60px;
  }
  header h2 {
    font-size: 30px;
  }
  #main-content {
    width: 490px;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .inner {
    width: 93%;
  }
  header {
    padding: 20px 0;
  }
  header .inner {
    position: relative;
  }
  header h1, header h2 {
    width: 100%;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 24px;
  }
  header a.button {
    background-image: none;
    width: auto;
    height: auto;
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    font-size: 13px;
    line-height: 1;
    background-color: #9ddcff;
    color: #2879d0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;                     
    border-radius: 5px;    
  }
  header a.button small {
    font-size: 13px;
    display: inline;
  }
  #main-content,
  aside#sidebar {
    float: none;
    width: 100% ! important;
  }
  aside#sidebar {
    background-image: none;
    margin-top: 20px;
    border-top: solid 1px #ddd;
    padding: 20px 0;
    min-height: 0;
  }
  aside#sidebar a.button {
    display: none;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}


i {
  font-style: italic;
}



.longvert {
  height: 800px !important;
}


ul.docu {
    list-style-type: none;
}

ul.benefits li {
    list-style-type: none;
    margin: 10px 0px -5px 0px;
    padding: 5px;
    left: -5px;
    position: relative;
}
ul.benefits li a:hover {
    text-decoration: none;
    background-color:#000f48;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

ul.benefits a {
    color: #666;
}
ul.benefits h5 {
    font-weight: bold;
    color: #2210EA !important;
}
ul.benefits p {
    margin:0px;
}

ul.using {
    list-style-type: none;
}
ul.using li {
    display: inline-block;
    margin: 0px 20px 0px 0px;
    width: 186px;
    height: 64px;
    padding: 8px;
    background-color: #000f48;
    color: #eee;
    border-radius: 8px;
    -moz-border-radius: 8px;
}
ul.using li a {
    display: block;
    width: 186px;
    height: 64px;
}

li a {
    text-decoration: none;
}

section.api h5 {
    font-size: 1.2em !important;
}

section.api small {
    font-size: smaller !important;
    color: #000F4B;
}

section.api h4 {
    font-size: 1.4em !important;
    color: #2210EA !important;
}

section.api b {
    font-weight: bold !important;
}


ul.contribs li {
    list-style-type: none;
}
ul.contribs li img {
    border: 2px solid #ccc;
    margin: 4px;
    vertical-align: middle;
}