<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Seneca, a Micro-Services toolkit for Node.js</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="http://senecajs.org">
          <img src="images/building.png"/>
          <span style="color:black; font: 52px 'Lobster'">Seneca</span>
          <!--<img src="images/logo.png"/>-->
        </a>
        <p style="color:black; font: 24px 'Lobster'">A Micro-Services toolkit for Node.js</p>
      </div>
    </header>


    <div id="content-wrapper">
      <div class="inner clearfix">

{{ content }}

      <aside id="sidebar">

        <a href="install.html" class="button1" style="background-image: url(../images/twitter.png);">
          <span class="new_margin">Download &</span>
          <span class="new_margin">install</span>
        </a>

        <a href="getting-started.html" class="button1">
          <span class="new_margin">Getting</span>
          <span class="new_margin">started</span>
        </a>

        <a href="documentation.html" class="button1">
          <span class="new_margin">Documentation</span>
          <span class="new_margin">goodness</span>
        </a>

        <a href="case-studies.html" class="button1">
          <span class="new_margin">Seneca</span>
          <span class="new_margin">in production</span>
        </a>

        <a href="https://github.com/rjrodger/seneca" class="button1">
          <span class="new_margin">Github</span>
          <span class="new_margin">rjrodger/seneca</span>
        </a>
          
        <a href="http://twitter.com/nodeseneca" class="button1">
          <span class="new_margin">Twitter</span>
          <span class="new_margin">@nodeseneca</span>
        </a>
                  
      </aside>
      
      </div>
    </div>

  
  </body>
</html>
