<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lobster'>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Seneca, a Micro-Services toolkit for Node.js</title>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-960">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Seneca</a>
        </div>
        <div class="collapse navbar-collapse" id="nav-collapsed">
          <ul class="nav navbar-nav navbar-right">
            <li><a href='/get-started'>Getting Started</a></li>
            <li><a href='/tutorials'>Tutorials</a></li>
            <li><a href='/api'>API</a></li>
            <li><a href='/plugins'>Plugins</a></li>
            <li><a href='/support'>Support</a></li>
            <li><a href='/contribute'>Contribute</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="fullwidthtop">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="header-box">
            <img src="images/icon-top.png" alt="design, develop, organise code" title="design, develop, organise code" height="auto" width="460">
            <h1 class="hp">design, develop &amp; organise your code</h1>
            <h2 class="hp">Seneca is a Micro-Services toolkit for Node.js that will help you write clean, organised code that you can scale and deploy at any time</h2>
          </div>
        </div>
      </div>
    </div>

    <div class='container'>
      <div class='row clearfix hp'>
        <section class="install">
          <pre> $ npm install seneca --save </pre>
        </section>
      </div>

      <div class="sep">
        <span class="star"><img src="images/star.png" alt="star" height="auto" width="20"></span>
        <span class="rule-l">&nbsp;</span>
        <span class="rule-r">&nbsp;</span>
      </div>

      <h1 class="center">What is Seneca?</h1>


<div class="row clearfix">
  <div class="col-md-6 column">
    <p>
      Seneca provides plugins - sets of commands - that look after the foundations of your app for you. This toolkit lets you focus on the real, "business" code of your app. Instead of worrying about which database to use, how to structure your components, or how to manage dependencies, you can just start coding.
    </p>
  </div>

  <div class="col-md-6 column">
    <p>
      You write everything as a command. Your commands get called whenever they match a set of properties. Your calling code doesn't know, or care, which command gets the work done. A JavaScript object goes in, and one comes out, asynchronously.
    </p>
  </div>

</div>

<div class="sep">
  <span class="star"><img src="images/star.png" alt="star" height="auto" width="20"></span>
  <span class="rule-l">&nbsp;</span>
  <span class="rule-r">&nbsp;</span>
</div>

      <div style="clear:both;"></div>

      <h1 class="center">Try Seneca Now</h1>

      <div class="row clearfix hp">
        <div class="col-md-4">
          <a class="grey-box" href="https://github.com/rjrodger/seneca">
            <i class="fa fa-download fa-5x"></i>
            <h3>Download &amp; Install</h3>
          </a>
        </div>

        <div class="col-md-4">
          <a class="grey-box" href="/quick-start/">
            <i class="fa fa-bolt fa-5x"></i>
            <h3>Quick Start</h3>
          </a>
        </div>

        <div class="col-md-4">
          <a class="grey-box" href="/releases/">
            <i class="fa fa-refresh fa-5x"></i>
            <h3>Updates &amp; Releases</h3>
          </a>
        </div>
      </div>

      <div class="sep">
        <span class="star"><img src="images/star.png" alt="star" height="auto" width="20"></span>
        <span class="rule-l">&nbsp;</span>
        <span class="rule-r">&nbsp;</span>
      </div>

      <section class="content row">
        {{{ contents }}}
      </section>
    </div>

    <footer>
      <div class="footer-one">
        <div class="col-md-12 column">
          <header class="row clearfix hp">
            <div class="col-md-12 column">
              <h1 class="center">
                <span>Seneca</span>
              </h1>
            </div>
          </header>
          <div class="row clearfix social">
            <div class="col-md-4 column">
              <p>
                <a href="https://github.com/rjrodger/seneca">
                  <i class="fa fa-github fa-2x"></i>
                  Github
                </a>
              </p>
            </div>
            <div class="col-md-4 column">
              <p>
                <a href="/api">
                  <i class="fa fa-bookmark fa-2x"></i>
                  Documentation
                </a>
              </p>
            </div>
            <div class="col-md-4 column">
              <p>
                <a href="https://twitter.com/senecajs">
                  <i class="fa fa-twitter fa-2x"></i>
                  Twitter
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-two">
        © Seneca 2015. Powered by <a href="http://metalsmith.io">MetalSmith</a>, hosted by <a href="http://surge.sh">Surge</a>. A <a href="http://nearform.com">nearFrom</a> project.
      </div>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57673-6', 'senecajs.org');
      ga('send', 'pageview');
    </script>
  </body>
</html>
